:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  /* color: #0f0f0f; */
  color: rgba(85, 85, 85, 1);
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;
}

/* div */
.box {
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* textarea */
.show {
  /* border-radius: 2px; */
  /* border: 1px solid rgba(85, 85, 85, 0.2); */
  border: 1px solid transparent;
  padding: 5px;

  resize: vertical;

  color: rgba(85, 85, 85, 1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  outline: none;

  font-size: 1em;
  /* font-family: inherit; */
  font-family: 'Lucida Console', 'Courier New', Courier, monospace;
}



/* div.button */
.btns {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

/* button */
.btn {
  padding: 5px;
  margin-right: 2px;
  margin-bottom: 2px;
  flex: 1;

  /* align-items: center; */

  min-width: 100px;
  max-width: 120px;

  /* border-radius: 2px; */
  border: 1px solid transparent;

  /* text-align: center; */
  font-family: inherit;
  /* color: #0f0f0f; */
  color: inherit;
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  transition: border-color 0.25s;

  cursor: pointer;
}

.btn:hover {
  border-color: #396cd8;
}

.btn:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

.btn:last-child {
  margin-right: 0;
}


.form-box {
  display: flex;
  flex-direction: row;
}

.form-input {
  flex: 10;
  padding: 10px 5px;
  margin-right: 2px;

  border: 1px solid transparent;
  outline: none;

  color: inherit;
  background-color: #ffffff;
  font-size: 1em;
  font-family: 'Lucida Console', 'Courier New', Courier, monospace;
  /* font-family: inherit; */

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.form-btn {
  flex: 1;
  margin: 0;
  text-align: center;
}

label {
  padding: 5px 0;
  font-family: inherit;
  font-size: 1em;
  color: rgba(85, 85, 85, 1);
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: darkgray;
}

/* TODO */
@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  .btn {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  .btn:active {
    background-color: #0f0f0f69;
  }
}